<p class={{successFailure}}>{{testToTest}}</p>
<p>
{{# if successFailure=="success}}
It is a palindrome!
{{else}}
It is not a palindrome!
{{/if}}
</p>
<a href="localhost:3000/">Try another palindrome</a>